<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Hola'
my_string2 = "Mundo"
print(my_string1 + ' ' + my_string2) # imprime lo contenido en my_string1 y my_string2 con un espacio entre ambas cadenas

Hola Mundo

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 105
print(my_int) #Imprime la variable my_int
print(type(my_int))#Imprime el tipo de variable de my_int

105
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "1050"
print(type(my_string)) #Imprime el tipo de variable de my_string
my_int = int(my_string) #Hace un casting de string a int y lo guarda en my_int
print(type(my_int)) #Imprime el tipo de variable de my_int

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "95"
print(type(my_string))
my_float = float(my_string) # convierte el string my_string en flotante y lo guarda en my_float
print(type(my_float)) #imprime el tipo de variable de my_float
flo=3.54
print(type(flo))#imprime el tipo de variable de flo

<class 'str'>
<class 'float'>
<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = True
print(my_bool) # imprime el valor de my_bool
print(type(my_bool)) # imprime el tipo de variable de my_bool

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
# Cada linea imprime una cadena de texto y el resultado de la operacion descrita en cada una
print("Addition ", 2+1)
print("Subtraction ", 5-3)
print("Multiplication ", 10*3)
print("Division ", 10/5)
print('exponent', 2**6)

Addition  3
Subtraction  2
Multiplication  30
Division  2.0
exponent 64

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(10/3) #imprime la operacion de 10 / 3
print(10.0/3) #imprime la operacion de 10 flotante / 3

3.3333333333333335
3.3333333333333335

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Item 1', 'Item 2'] #Crea una lista de 2 strings
print(my_list)
my_list = ['Item 1', 'Item 2', 1,2,3.0] #Crea una lita de 2 strings, 2 ints y 1 float
print(my_list)

['Item 1', 'Item 2']
['Item 1', 'Item 2', 1, 2, 3.0]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [1]:
my_list = ['Quant', 'Connect', 1,2,3] 
print(len(my_list)) #imprime la cantidad de items en my_list
print(my_list[0]) #imprime el primer elemento
print(my_list[len(my_list) -1]) #imprime el ultimo elemento

5
Quant
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go' #sobreescribe el 3er elemento
print(my_list) #imprime la lista modificada

['Quant', 'Connect', 'go', 2, 3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3]) #imprime solo los elementos entre la posicion 1 y la 3 (sin incluirlo)

['Connect', 1]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:]) #imprime solo los elementos desde la posicion 1 en adelante

['Connect', 1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3]) #imprime todos los elementos hasta la posicion 3 (sin incluirlo)

['Quant', 'Connect', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello') #añade un elemento a la lista al final de la lista
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list.remove('Hello') #elimina el primer elemento que coincide con el nombre de la lista
print(my_list)

['Quant', 'Hello']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect') #crea una tupla

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect') 
print(my_tuple[1:]) #imprime los elementos desde la posicion 1 en adelante de la tupla

('to', 'QuantConnect')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG'] #crea una lista
stock_set = set(stock_list) #convierte la lista en set
print(stock_set) #impime el set (ignora las posiciones y los elementos repetidos)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'} #crea un diccionario

In [ ]:
print(my_dic['GOOG']) #imprime el valor almacenado en la key de "GOOG"

Alphabet

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company' #añade un nuevo valor a la key "GOOG"
print(my_dic['GOOG']) #imprime todo lo almacenado en la key "GOOG"

Alphabet Company

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys()) #imprime todas las keys de un diccionario

dict_keys(['AAPL', 'FB', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:]) #imprime todos los caracteres desde la posicion 8 en adelante

to QuantConnect

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e')) #imprime la cuenta las veses que aparece la 3
print('The first time e appears in this sentence'.find('e')) #imprime la posicion donde encuentra la 1ra e
print('all the a in this sentence now becomes e'.replace('a','e')) #imprime el reemplazo de las letras a por e

7
2
ell the e in this sentence now becomes e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ') #genera una lista donde corta el string en cada espacio
date = splited_list[0] #asigma el primer elemento a la variable date
time = splited_list[1] #asigma el 2do elemento a la variable time
print(date, time) #imprime las variables date y time
hour = time.split(':')[0] #selecciona el primer elemento de la lista de elementos de time separados por :
print(hour) #imprime la variable hora (que seria solo la hora del time)

2016-04-01 09:43:00
09

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43') #cada {} identifica una variable para llenar el espacio, en este caso serian "09" y "43"
print(my_time)

Hour: 09, Minute:43

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14) #la misma forma de formatear que arriba pero usando % y la f de flotante
print('%s to %s'%('Welcome','Quantconnect')) #s de string

the pi number is 3.140000
Welcome to Quantconnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0) #igualdad
print(1 == 1) #igualdad
print(1 != 0) #Diferencia
print(5 >= 5) #mayor o igual
print(5 >= 6) #Mayor o igual

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2) #AND
print(2 > 1 and 3 < 2) #OR
print(2 > 1 or 3 < 2) #Or
print(2 < 1 and 3 < 2) #AND

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))) # Operacion compleja de diferencias, mayores y menores que, y la negacion con "not"
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))) # mas Operaciones booleanas

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0: #si se cumple 1==0
    print('i==0 is True') #se imprime, debe esta tabulado con relacion al if

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q: #si p y q verdad se cumple se imprime el texto de abajo
    print('p and q is true')
elif p and not q: #si p verdad y q falso, se imprime
    print('q is false')
elif q and not p: #si p falso y q verdad se imprime
    print('p is false')
else: #cuando ninguno de los casos superiores se cumple
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0 #se crea una variable en 0
while i < 5: #mientras i sea menor que 0
    print(i) #imprime
    i += 1 #i se le suma 1

0
1
2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]: #un for por cada elemento contenido en la lista
    print(i) #imprime el elemento de la lista en donde va la iteracion

1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [2]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks: #un for por cada elemento contenido en la lista
    if i not in selected: # si el elemento de la iteracion no se encuentra en la lista de selected
        new_list.append(i) # se añade
print(stocks) # imprime la lista con la que se inicio
print(selected) # imprime la lista con la que se inicio
print(new_list) # imprime la lista resultante de stocks menos selected

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
['AAPL', 'IBM']
['GOOG', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB': # si encuetro el elemento de la iteracion cumple con que es "FB"
        break  # Finalizo el for

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue # se salta el item i y sigue el for con el siguiente
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2) #Añade a la lista squares el elemento de la lista a la potencia de 2
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [12]:
list = [1,2,3,4,5]
squares = [x**2 for x in list] #lo mismo de arriba pero compacto en una linea
print(squares)

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected] # la misma compreension del ejercicio de arriba pero aplicado a las listas stocks y selected
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]) #imprime todas las parejas entre las 2 listas mientras no sean el mismo numero
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y]) #imprime todas las parejas entre las 2 listas mientras no sean el mismo texto

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y): # crea una nueva funcion con 2 parametros
    return x*y #retorna el valor de la funcion la multiplicacion de los 2 parametros
print(product(2,3))
print(product(5,10))

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi(): #def es una palabra clave para crear funciones, en este caso say_hi
    print('Welcome to QuantConnect') #Imprimir un texto
say_hi() #llama a la funcion

Welcome to QuantConnect

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [7]:
print(range(10)) #Crea una lista con la secuencia de 0 a 10
print(range(1,11)) #Crea una lista con la secuencia de 1 a 11
print(range(1,11,2)) #Crea una lista con la secuencia de 1 a 11 cada 2 elementos

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [15]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers))) #en el {} se ubica el valor de len(tickers) que es la longitud de la lista tickers
for i in range(len(tickers)): #crea un for que recorre todos los elementos de tickets sin necesidad de conocer el valor
    print(tickers[i]) #imprime cada iteracion

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [13]:
print(list) #Imprime la lista almacenada arriba
del list #elimina la lista
list #sobreescribe la lista convirtiendola en una funcion?

[1, 2, 3, 4, 5]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE'] #Crea una lista tickers
list(map(len,tickers)) #map crea una funcion para todos los elementos devolviendo un valor, en este caso cuenta la longitud de cada item y asigna un numero

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers))) #imprime la lista del mapa

[4, 4, 3, 2, 1, 1, 1, 2]



```
# Tiene formato de código
```

The **`lambda opera`tor** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10))) # crea una funcion lambda para solo usarla en el momento

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))  #lambda permite varias listas y parametros

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1]) # funcion que organiza los elementos

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1]) # organiza la lista por los 2dos elementos de cada elemento

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True) # cambia de ascendente (por defecto) a desendente

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1]) # se hace uso de la funcion incluida en las listas de .sort, tambien se le indica que utilize el 2do elemento para ordenar
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [22]:
class stock: # se crea una clase Stock 
    def __init__(self, ticker, open, close, volume): # se crea la funcion de inicializacion de la clase
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close): #se crea funcion de actualizar los datos
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self): # se crea la funcion de imprimirse 
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [23]:
apple = stock('AAPL', 143.69, 144.09, 20109375) #se crea un elemento Stock
google = stock('GOOG', 898.7, 911.7, 1561616) # se crea un elemento stock

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [24]:

google.print_return()   # utiliza la funcion de print de la clase stock
google.update(912.8,913.4) # utiliza la funcion de update de la clase stock
google.print_return() #vuelve a imprimirse a el mismo

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [27]:
apple.ceo = 'Tim Cook' #crea un nuevo atributto de apple
apple.ceo #imprime atributo ceo
apple.open #imrpime atributo open

143.69

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple) #imprime atributos y metodos de la clase

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock): #Crea una clase hijo de la clase stock
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa') #crea un elemento hijo aa y luego se confirma que tiene los atributos de stock
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np # se importa la libreria NumPy

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array)) #se crea un tipo de arreglo de numpy

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]]) #se crea un arreglo de 2 dimenciones
print(Ar, type(Ar)) # se imprime

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape) #se obtiene las dimensiones del arreglo

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0]) #cada posicion de la matriz imprime el arreglo correspondiente
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0]) #y se puede acceder verticalmenteusando [:,x] siendo x la columna
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array)) # np.log calcula el logaritmo natural de cada elemento

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [ ]:
print(np.mean(price_array)) #promedio
print(np.std(price_array)) # desviasion estandar
print(np.sum(price_array)) #suma
print(np.max(price_array)) #maximo

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd #importa la libreria pandas

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price) #genera una serie desde la lista price
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f']) # se personaliza la serie nombrando cada item por letras
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1] #se cambia los indices de la serie existente
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:]) #imprime la serie de arirba desde el elemento en posicion 1 en adelante
print(s[:-2]) #imprime la serie sin los 2 ultimos elementos

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4]) #llama al elemento con key "4"
s[4] = 0 #reemplaza el valor del dato con key
print(s) #imprime la serie

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List') #hace una serie con la lista price y añade el elemento name
print(s) # imprime toda la serie
print(s.name) #imprime solo el elemento name de la serie

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe()) #hace un resumen estadistico de la serie s

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D') #hace un indice de fechas para cada item
print(time_index) #imprimela secuencia de fechas generada
s.index = time_index
print(s) #imprime la serie con el index cambiado

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1] # se añade indices numericos
print(s)
print(s[1]) # se imprime el elemento 1 de la serie

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1]) #para acceder al elemento de la posicion 1 se utiliza iloc

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index #asigna los indices de fecha a la serie s
print(s['2017-01-03']) # imprime el elemento con el indice de esa fecha

143.68

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05']) #imprime los elementos en el rango de fechas

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] ) # se imprime los valores de s donde sean menores al promedio
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))]) # se imprimen donde sean menores al promedio y sean menores a promeido + 1.64 por la desviasion estandar

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [33]:
!pip install yfinance #instala el paquete/modulo de yfinance en python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.2 MB/s
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [34]:
import yfinance as yf #importa yfinance al documento

aapl = yf.Ticker("AAPL") #crea un elemento de clase Ticker de la libreria yfinance

# get stock info
print(aapl.info) #imprime el valor de .info de aapl

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31") # hace un llamado a la funcion history de la clase ticker con los parametros start y end
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.3343, 'profitMargins': 0.25709, 'grossMargins': 0.43313998, 'operatingCashflow': 118224003072, 'revenueGrowth': 0.019, 'operatingMargins': 0.30533, 'ebitda': 129556996096, 'targetLowPrice': 136, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 83344621568, 'targetMedianPrice': 185, 'currentPrice': 167.57, 'earningsGrowth': -0.077, 'currentRatio': 0.865, 'returnOnAssets': 0.22204, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 183.94, 'debtToEquity': 205.984, 'returnOnEquity': 1.62816, 'targetHighPrice': 220, 'totalCash': 48230998016, 'totalDebt': 119691001856, 'totalRevenue': 387541991424, 'totalCashPerShare': 3.001, 'financialCurrency': 'USD', 'revenuePerShare': 23.732, 'quickRatio': 0.697, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.297, 'beta3Year': None, 'enterpriseToEbitda': 21.828, '52WeekChange': 0.11997056, 'morningStarRiskRating': None, 'forwardEps': 6.44, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16070800384, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.61, 'sharesShort': 107535584, 'sharesPercentSharesOut': 0.0067000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59714, 'netIncomeToCommon': 99632996352, 'trailingEps': 6.05, 'lastDividendValue': 0.23, 'SandP52WeekChange': -0.0776242, 'priceToBook': 46.418285, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1656115200, 'shortRatio': 1.47, 'sharesShortPreviousMonthDate': 1656547200, 'floatShares': 16053234880, 'beta': 1.230174, 'enterpriseValue': 2827915362304, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1659657600, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.106, 'priceToSalesTrailing12Months': 6.9488835, 'dateShortInterest': 1659052800, 'pegRatio': 2.97, 'ytdReturn': None, 'forwardPE': 26.020187, 'lastCapGain': None, 'shortPercentOfFloat': 0.0067000003, 'sharesShortPriorMonth': 112994371, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 171.52, 'regularMarketOpen': 169.69, 'twoHundredDayAverage': 160.5414, 'trailingAnnualDividendYield': 0.005188899, 'payoutRatio': 0.1471, 'volume24Hr': None, 'regularMarketDayHigh': 169.86, 'navPrice': None, 'averageDailyVolume10Day': 64986660, 'regularMarketPreviousClose': 171.52, 'fiftyDayAverage': 151.8174, 'trailingAnnualDividendRate': 0.89, 'open': 169.69, 'toCurrency': None, 'averageVolume10days': 64986660, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.92, 'exDividendDate': 1659657600, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 167.135, 'currency': 'USD', 'trailingPE': 27.697521, 'regularMarketVolume': 69026809, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2692984078336, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75976603, 'dayLow': 167.135, 'ask': 167.98, 'askSize': 800, 'volume': 69026809, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.05, 'fiftyTwoWeekLow': 129.04, 'bid': 167.73, 'tradeable': False, 'dividendYield': 0.0054, 'bidSize': 900, 'dayHigh': 169.86, 'coinMarketCapLink': None, 'regularMarketPrice': 167.57, 'preMarketPrice': 169.71, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.1143}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.523348,24.156079,23.383506,24.151493,270597600,0.0,0
2016-01-05,24.243197,24.266121,23.477502,23.546276,223164000,0.0,0
2016-01-06,23.053385,23.468329,22.895204,23.085480,273829600,0.0,0
2016-01-07,22.622398,22.954810,22.106586,22.111170,324377600,0.0,0
2016-01-08,22.592599,22.720978,22.182241,22.228090,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.594676,41.770886,41.551816,41.673256,65397600,0.0,0
2017-12-26,40.670768,40.830307,40.404072,40.616001,132742000,0.0,0
2017-12-27,40.504102,40.666021,40.411235,40.623161,85992800,0.0,0
2017-12-28,40.718400,40.920803,40.594577,40.737450,65920800,0.0,0
2017-12-29,40.604104,40.620771,40.294549,40.296928,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [35]:
aapl = aapl_table['Close']['2017'] # crea una serie con los valores de "close" y "2017" de la matris generada arriba

In [36]:
print(aapl)

Date
2017-01-03    27.219831
2017-01-04    27.189367
2017-01-05    27.327637
2017-01-06    27.632290
2017-01-09    27.885391
                ...
2017-12-22    41.673256
2017-12-26    40.616001
2017-12-27    40.623161
2017-12-28    40.737450
2017-12-29    40.296928
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [37]:
print(aapl['2017-3']) #imprime todos los que corresponden (o tienen key) de la fecha 2017-03

Date
2017-03-01    32.901920
2017-03-02    32.706570
2017-03-03    32.899563
2017-03-06    32.796001
2017-03-07    32.838364
2017-03-08    32.715981
2017-03-09    32.640656
2017-03-10    32.748932
2017-03-13    32.763046
2017-03-14    32.713627
2017-03-15    33.059620
2017-03-16    33.113750
2017-03-17    32.948986
2017-03-20    33.294987
2017-03-21    32.913685
2017-03-22    33.285557
2017-03-23    33.167881
2017-03-24    33.101974
2017-03-27    33.158463
2017-03-28    33.845730
2017-03-29    33.921059
2017-03-30    33.876335
2017-03-31    33.812786
Name: Close, dtype: float64

In [38]:
aapl['2017-2':'2017-4'] # imprime los que tienen key en el margen de 2017-2 y 2017-4

Date
2017-02-01    30.172653
2017-02-02    30.121096
2017-02-03    30.249994
2017-02-06    30.533545
2017-02-07    30.824148
                ...
2017-04-24    33.808079
2017-04-25    34.017555
2017-04-26    33.817490
2017-04-27    33.843391
2017-04-28    33.810429
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [39]:
print(aapl.head(5)) #imprime los 5 primeros valores de la tabla
print(aapl.tail(10)) #imprime los ultimos 10 valores de la tabla

Date
2017-01-03    27.219831
2017-01-04    27.189367
2017-01-05    27.327637
2017-01-06    27.632290
2017-01-09    27.885391
Name: Close, dtype: float64
Date
2017-12-15    41.425617
2017-12-18    42.008999
2017-12-19    41.561340
2017-12-20    41.516102
2017-12-21    41.673256
2017-12-22    41.673256
2017-12-26    40.616001
2017-12-27    40.623161
2017-12-28    40.737450
2017-12-29    40.296928
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [40]:
by_month = aapl.resample('M').mean() #agrupa los datos de la serie promediandolos en intervalos de tiempo, en este caso mensual
print(by_month)

Date
2017-01-31    28.021312
2017-02-28    31.430156
2017-03-31    33.096760
2017-04-30    33.630810
2017-05-31    35.924382
2017-06-30    34.938205
2017-07-31    35.048844
2017-08-31    37.686052
2017-09-30    37.395192
2017-10-31    37.444725
2017-11-30    41.004148
2017-12-31    40.930682
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [41]:
by_week = aapl.resample('W').mean() #agrupa los datos de la serie en intervalos semanales promediandolos
print(by_week.head())

Date
2017-01-08    27.342281
2017-01-15    27.941164
2017-01-22    28.108606
2017-01-29    28.394868
2017-02-05    29.497255
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [42]:
aapl.resample('M').max() #agrupa los datos de la serie eligiendo el max de cada intervalo mensual

Date
2017-01-31    28.579067
2017-02-28    32.271137
2017-03-31    33.921059
2017-04-30    34.074047
2017-05-31    36.892406
2017-06-30    36.738781
2017-07-31    36.268475
2017-08-31    38.911686
2017-09-30    38.923542
2017-10-31    40.107491
2017-11-30    41.815830
2017-12-31    42.008999
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [43]:
three_day = aapl.resample('3D').mean() #cada 3 dias
two_week = aapl.resample('2W').mean() #cada 2 semanas
two_month = aapl.resample('2M').mean() #cada 2 meses


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.245612
2017-01-06    27.632290
2017-01-09    27.954133
2017-01-12    27.921711
2017-01-15    28.122080
                ...
2017-12-17    41.785170
2017-12-20    41.620871
2017-12-23          NaN
2017-12-26    40.658871
2017-12-29    40.296928
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.342281
2017-01-22    28.015583
2017-02-05    28.946061
2017-02-19    31.341195
2017-03-05    32.413924
2017-03-19    32.833896
2017-04-02    33.437846
2017-04-16    33.661105
2017-04-30    33.603545
2017-05-14    35.498715
2017-05-28    36.292812
2017-06-11    36.311535
2017-06-25    34.336637
2017-07-09    34.074198
2017-07-23    35.082286
2017-08-06    36.070651
2017-08-20    37.692904
2017-09-03    38.244488
2017-09-17    38.069385
2017-10-01    36.635583
2017-10-15    36.865020
2017-10-29    37.546922
2017-11-12    40.803593
2017-11-26    40.974774
2017-12-10    40.639342
2017-12-24    41.388942
2018-01-07    40.568385
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.021312
2017-03-31    32.342820
2017-05-31    34.861507
2017-07-31    34.990890
2017-09-30    37.550768
2017-11-30    39.183048
2018-01-31    40.930682
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [44]:
std = aapl.resample('W').std() #agrupa semanalmente y calcula desviasion estandar
max = aapl.resample('W').max() #maximo
min = aapl.resample('W').min() #minimo


print(std)
print(max)
print(min)

Date
2017-01-08    0.202234
2017-01-15    0.072125
2017-01-22    0.025410
2017-01-29    0.243921
2017-02-05    0.938006
2017-02-12    0.250599
2017-02-19    0.230104
2017-02-26    0.059017
2017-03-05    0.338198
2017-03-12    0.075860
2017-03-19    0.176845
2017-03-26    0.156387
2017-04-02    0.318027
2017-04-09    0.127972
2017-04-16    0.211292
2017-04-23    0.173694
2017-04-30    0.089524
2017-05-07    0.234327
2017-05-14    0.351014
2017-05-21    0.533104
2017-05-28    0.060055
2017-06-04    0.279656
2017-06-11    0.616583
2017-06-18    0.380440
2017-06-25    0.128174
2017-07-02    0.262635
2017-07-09    0.158009
2017-07-16    0.402028
2017-07-23    0.124289
2017-07-30    0.382302
2017-08-06    0.919245
2017-08-13    0.464858
2017-08-20    0.432825
2017-08-27    0.274234
2017-09-03    0.250324
2017-09-10    0.379514
2017-09-17    0.292500
2017-09-24    0.731098
2017-10-01    0.352863
2017-10-08    0.203715
2017-10-15    0.118075
2017-10-22    0.514117
2017-10-29    0.676662
2017-11-05    0.557562
2017-11-12    0.189908
2017-11-19    0.433769
2017-11-26    0.559909
2017-12-03    0.425064
2017-12-10    0.072725
2017-12-17    0.204124
2017-12-24    0.193039
2017-12-31    0.189332
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.632290
2017-01-15    28.063494
2017-01-22    28.122080
2017-01-29    28.579067
2017-02-05    30.249994
2017-02-12    31.167265
2017-02-19    31.943972
2017-02-26    32.271137
2017-03-05    32.901920
2017-03-12    32.838364
2017-03-19    33.113750
2017-03-26    33.294987
2017-04-02    33.921059
2017-04-09    34.074047
2017-04-16    33.697453
2017-04-23    33.525635
2017-04-30    34.017555
2017-05-07    35.060234
2017-05-14    36.892406
2017-05-21    36.797874
2017-05-28    36.393730
2017-06-04    36.738781
2017-06-11    36.719875
2017-06-18    34.644833
2017-06-25    34.585739
2017-07-02    34.465199
2017-07-09    34.075253
2017-07-16    35.223854
2017-07-23    35.691799
2017-07-30    36.268475
2017-08-06    37.138191
2017-08-13    38.064629
2017-08-20    38.342239
2017-08-27    37.957874
2017-09-03    38.923542
2017-09-10    38.456135
2017-09-17    38.318512
2017-09-24    37.661285
2017-10-01    36.593586
2017-10-08    36.868824
2017-10-15    37.248451
2017-10-22    38.074123
2017-10-29    38.686272
2017-11-05    40.928452
2017-11-12    41.815830
2017-11-19    41.425617
2017-11-26    41.663731
2017-12-03    41.454185
2017-12-10    40.432663
2017-12-17    41.425617
2017-12-24    42.008999
2017-12-31    40.737450
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.189367
2017-01-15    27.885391
2017-01-22    28.070526
2017-01-29    28.115055
2017-02-05    28.438457
2017-02-12    30.533545
2017-02-19    31.372032
2017-02-26    32.134617
2017-03-05    32.228767
2017-03-12    32.640656
2017-03-19    32.713627
2017-03-26    32.913685
2017-04-02    33.158463
2017-04-09    33.737469
2017-04-16    33.198475
2017-04-23    33.111401
2017-04-30    33.808079
2017-05-07    34.488289
2017-05-14    36.013470
2017-05-21    35.509830
2017-05-28    36.240108
2017-06-04    36.103031
2017-06-11    35.209667
2017-06-18    33.623833
2017-06-25    34.271408
2017-07-02    33.957077
2017-07-09    33.732555
2017-07-16    34.283230
2017-07-23    35.346752
2017-07-30    35.332565
2017-08-06    35.150578
2017-08-13    36.852211
2017-08-20    37.369446
2017-08-27    37.300636
2017-09-03    38.311394
2017-09-10    37.637558
2017-09-17    37.554516
2017-09-24    36.038380
2017-10-01    35.720455
2017-10-08    36.415638
2017-10-15    36.975582
2017-10-22    37.008797
2017-10-29    37.053883
2017-11-05    39.557045
2017-11-12    41.343658
2017-11-19    40.261208
2017-11-26    40.475513
2017-12-03    40.356453
2017-12-10    40.244537
2017-12-17    40.885078
2017-12-24    41.516102
2017-12-31    40.296928
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [45]:
last_day = aapl.resample('M').agg(lambda x: x[-1]) #calcula los retornos de un stock basado en los precios del ultimo dia de la agrupacion del mes de la serie
print(last_day)

Date
2017-01-31    28.438457
2017-02-28    32.242886
2017-03-31    33.812786
2017-04-30    33.810429
2017-05-31    36.103031
2017-06-30    34.037434
2017-07-31    35.150578
2017-08-31    38.911686
2017-09-30    36.567486
2017-10-31    40.107491
2017-11-30    40.920799
2017-12-31    40.296928
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [46]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1) #lo mismo de arriba pero eligiendo el 1mer y ultimo dia del mes
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [47]:
print(monthly_return.mean()) #promedio del retorno mensual
print(monthly_return.std()) #desviacion estandar
print(monthly_return.max()) #maximo de los retornos mensual

0.026863280796706263
0.05225851901293624
0.0990179859942848

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [53]:
print(last_day)
print(last_day.diff()) # calcula la diferencia entre valores consecutivos
print(last_day.pct_change()) #calcula la diferencia porcentual de cambio entre valores consecutivos

Date
2017-01-31    28.438457
2017-02-28    32.242886
2017-03-31    33.812786
2017-04-30    33.810429
2017-05-31    36.103031
2017-06-30    34.037434
2017-07-31    35.150578
2017-08-31    38.911686
2017-09-30    36.567486
2017-10-31    40.107491
2017-11-30    40.920799
2017-12-31    40.296928
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    3.804428
2017-03-31    1.569901
2017-04-30   -0.002357
2017-05-31    2.292603
2017-06-30   -2.065598
2017-07-31    1.113144
2017-08-31    3.761108
2017-09-30   -2.344200
2017-10-31    3.540005
2017-11-30    0.813309
2017-12-31   -0.623871
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [54]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0)) # llenamos los valores NaN con 0

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [55]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill')) # se llena los NaN con el valor siguiente

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [56]:
daily_return = last_day.pct_change()
daily_return.dropna() # se elimina los elementos que tienen NaN

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [57]:
import pandas as pd #importa la libreria pandas

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]} # crea un diccionario
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D') #se le asigna indexes de fecha, periodos y frecuencia diaria
df = pd.DataFrame(dict, index = data_index) #se genera un Dataframe con .Dataframe()
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [61]:
df = aapl_table
print(df.Close.tail(5)) # imprime los ultimos 5 valores de la columna de cierre
print(df['Volume'].tail(5)) #imprime los 5 valores de la columna de volume

Date
2017-12-22    41.673256
2017-12-26    40.616001
2017-12-27    40.623161
2017-12-28    40.737450
2017-12-29    40.296928
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [63]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1]) #agrupa mensualmente los elementos
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.730618  22.315205  21.629747  22.315205  257666000        0.0
2016-02-29  22.325654  22.641431  22.277250  22.286470  140865200        0.0
2016-03-31  25.289813  25.331302  25.096197  25.121552  103553600        0.0
2016-04-30  21.664136  21.832397  21.323005  21.606512  274126000        0.0
2016-05-31  23.096977  23.282495  22.916097  23.157270  169228800        0.0
2016-06-30  21.900386  22.208808  21.867920  22.169386  143345600        0.0
2016-07-31  24.161392  24.244875  24.043124  24.166029  110934800        0.0
2016-08-31  24.635012  24.847181  24.630348  24.737598  118649600        0.0
2016-09-30  26.220459  26.432630  26.066579  26.358021  145516400        0.0
2016-10-31  26.497910  26.633140  26.392990  26.472263  105677600        0.0
2016-11-30  26.153537  26.294148  25.841851  25.900438  144649200        0.0
2016-12-31  27.337008  27.465899  27.051099  27.142496  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [66]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']] # se selecionan solamente 4 columnas de la Dataframe
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.730618  22.315205  21.629747  22.315205
2016-02-29  22.325654  22.641431  22.277250  22.286470
2016-03-31  25.289813  25.331302  25.096197  25.121552
2016-04-30  21.664136  21.832397  21.323005  21.606512
2016-05-31  23.096977  23.282495  22.916097  23.157270
2016-06-30  21.900386  22.208808  21.867920  22.169386
2016-07-31  24.161392  24.244875  24.043124  24.166029
2016-08-31  24.635012  24.847181  24.630348  24.737598
2016-09-30  26.220459  26.432630  26.066579  26.358021
2016-10-31  26.497910  26.633140  26.392990  26.472263
2016-11-30  26.153537  26.294148  25.841851  25.900438
2016-12-31  27.337008  27.465899  27.051099  27.142496

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [67]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']]) # se seleccionan solamente 4 columnas y un rango de fechas

                 Open       High        Low      Close
Date
2016-03-31  25.289813  25.331302  25.096197  25.121552
2016-04-30  21.664136  21.832397  21.323005  21.606512
2016-05-31  23.096977  23.282495  22.916097  23.157270
2016-06-30  21.900386  22.208808  21.867920  22.169386

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [68]:
import numpy as np #se importa NumPy

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)] # se genera una tabla donde los valores de cierre sean menores del promedio

print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.289813  25.331302  25.096197  25.121552
2016-08-31  24.635012  24.847181  24.630348  24.737598
2016-09-30  26.220459  26.432630  26.066579  26.358021
2016-10-31  26.497910  26.633140  26.392990  26.472263
2016-11-30  26.153537  26.294148  25.841851  25.900438
2016-12-31  27.337008  27.465899  27.051099  27.142496

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change() # se aplica la diferencia porcentual de cambio entre valores cercanos
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull() # selecciona los lugares donde se encuentran NaN values
print(missing)
print('---------------------------------------------')
print(missing.describe()) #resumen de la tabla de missing

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True]) # selecciona filas con valroes faltantes

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna() #elimina las filas donde se encuentre valores NaN
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0) # llena los valores NaN con 0
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [70]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1) # concatena ambas dataframes con concat
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [71]:
log_price = np.log(aapl_bar.Close)  #genera logarinmo nacional de la tabla en los valores de cierre
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1) # concatena la tabla logaritmica con appl+bar en el eje 1 que es por columnas
print(concat)

Date
2016-01-31    3.105268
2016-02-29    3.103980
2016-03-31    3.223726
2016-04-30    3.072995
2016-05-31    3.142309
2016-06-30    3.098712
2016-07-31    3.184948
2016-08-31    3.208324
2016-09-30    3.271773
2016-10-31    3.276098
2016-11-30    3.254260
2016-12-31    3.301101
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  log_price
Date
2016-01-31  21.730618  22.315205  21.629747  22.315205   3.105268
2016-02-29  22.325654  22.641431  22.277250  22.286470   3.103980
2016-03-31  25.289813  25.331302  25.096197  25.121552   3.223726
2016-04-30  21.664136  21.832397  21.323005  21.606512   3.072995
2016-05-31  23.096977  23.282495  22.916097  23.157270   3.142309
2016-06-30  21.900386  22.208808  21.867920  22.169386   3.098712
2016-07-31  24.161392  24.244875  24.043124  24.166029   3.184948
2016-08-31  24.635012  24.847181  24.630348  24.737598   3.208324
2016-09-30  26.220459  26.432630  26.066579  26.358021   3.271773
2016-10-31  26.497910  26.633140  26.392990  26.472263   3.276098
2016-11-30  26.153537  26.294148  25.841851  25.900438   3.254260
2016-12-31  27.337008  27.465899  27.051099  27.142496   3.301101

We can also join two DataFrames by rows. Consider these two DataFrames:

In [72]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1]) # genera una tabla agrupandola mensualmente con columnas volume y stock splits en el rango de 2016-10 y 2017-04 y seleccionandoel ultimo dia
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1]) # genera una tabla agrupandola mensualmente con columnas open,high,low y close en el rango de 2016-10 y 2017-04 y seleccionandoel ultimo dia
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.497910  26.633140  26.392990  26.472263
2016-11-30  26.153537  26.294148  25.841851  25.900438
2016-12-31  27.337008  27.465899  27.051099  27.142496
2017-01-31  28.391588  28.447832  28.267382  28.438457
2017-02-28  32.264068  32.348800  32.174627  32.242886
2017-03-31  33.826908  33.956360  33.659796  33.812786
2017-04-30  33.913991  33.963419  33.720992  33.810429

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1) #concatena las dos tablas anteriores en columnas
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450761  22.768308  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773054  24.986412  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300094  26.441492  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner') # hace la concatenacion pero solo en los valores que coincidan en ambas tablas
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300094  26.441492  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017) #se añade una nueva columna con append()
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0) #se hace lo mismo pero con la funcion concat en el eje 0
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [73]:
df_2017.columns = ['Change', 'High','Low','Close'] #se cambia los nombres de columnas para evitar conflictos al concatenar y se unan valores indeseados
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close     Change
Date
2016-01-31  21.730618  22.315205  21.629747  22.315205        NaN
2016-02-29  22.325654  22.641431  22.277250  22.286470        NaN
2016-03-31  25.289813  25.331302  25.096197  25.121552        NaN
2016-04-30  21.664136  21.832397  21.323005  21.606512        NaN
2016-05-31  23.096977  23.282495  22.916097  23.157270        NaN
2016-06-30  21.900386  22.208808  21.867920  22.169386        NaN
2016-07-31  24.161392  24.244875  24.043124  24.166029        NaN
2016-08-31  24.635012  24.847181  24.630348  24.737598        NaN
2016-09-30  26.220459  26.432630  26.066579  26.358021        NaN
2016-10-31  26.497910  26.633140  26.392990  26.472263        NaN
2016-11-30  26.153537  26.294148  25.841851  25.900438        NaN
2016-12-31  27.337008  27.465899  27.051099  27.142496        NaN
2016-10-31        NaN  26.633140  26.392990  26.472263  26.497910
2016-11-30        NaN  26.294148  25.841851  25.900438  26.153537
2016-12-31        NaN  27.465899  27.051099  27.142496  27.337008
2017-01-31        NaN  28.447832  28.267382  28.438457  28.391588
2017-02-28        NaN  32.348800  32.174627  32.242886  32.264068
2017-03-31        NaN  33.956360  33.659796  33.812786  33.826908
2017-04-30        NaN  33.963419  33.720992  33.810429  33.913991

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.